/*Main*/
main {
    max-width: 1200px;
    padding: 0px 15px;
    margin: auto;
    display: flex;
}

/*Post Mais Recente*/
#recent-post {
    max-width: 1000px;
    margin: 15px 25px 15px 0px;
    padding: 10px;
    display: flex;
    box-shadow: 0px 0px 4px 0px $cor-preto-4;
    border-radius: 5px;
}

/*Imagem do Post*/
#post-image {
    width: 370px;
    height: 250px;
    overflow: hidden;
    border-radius: 6px;

    img {
        width: 100%;
        height: 100%;
        transition: 0.3s linear;

        &:hover {
            transform: scale(1.1);
        }
    }
}

/*Conteiner do Post*/
#conteiner {
    width: 340px;
    margin-left: 15px;
    position: relative;

    p {
        font-size: 15px;
        letter-spacing: 0.6px;
        margin-bottom: 12px;
    }
}

/*Titulo do Post*/
#title {
    color: $cor-preto-2;
    transition: 0.3s;

    &:hover {
        color: $cor-verde;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 16px;
        letter-spacing: 0.6px;
    }
}

/*Data da Publicação*/
.time {
    color: $cor-preto-3;
    font-size: 14px;
    display: block;
}

/*Botão Continue Lendo*/
.reading-button {
    font-size: 15px;
    font-weight: 600;
    color: $cor-verde;
    padding: 4px 10px;
    position: absolute;
    bottom: 0px;
    box-shadow: 0px 0px 4px 0px $cor-sombra-preto-2;
    border-radius: 14px;
    transition: 0.5s;

    &:hover {
        background-color: $cor-verde;
        color: $cor-branca;
    }
}

/*Posts*/
.posts {
    display: flex;
    margin: 20px 0px;
}

/*Post*/
.post {
    max-width: 700px;
    margin: 0px 25px 0px 0px;
    padding: 10px;
    box-shadow: 0px 0px 4px 0px $cor-preto-4;
    border-radius: 5px;
    
    p {
        font-size: 15px;
        letter-spacing: 0.6px;
        margin: 10px 0px;
        text-align: justify;
    }

    /*Botão Continue Lendo*/
    .reading-button {
        display: inline-block;
        position: relative;
        margin-top: 10px;
    }
}

/*Imagem do Post*/
.post-image {
    display: block;
    max-width: 680px;
    height: 220px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;

    /*Imagem*/
    img {
        width: 100%;
        height: 100%;
        transition: 0.3s linear;

        &:hover {
            transform: scale(1.1);
        }
    }

    /*Sube Titulo*/
    h3 {
        width: 100%;
        padding: 20px 10px 10px 10px;
        font-size: 18px;
        color: $cor-branca;
        text-align: justify;
        letter-spacing: 0.6px;
        position: absolute;
        bottom: 0px;
        text-shadow: 0px 2px 8px $cor-sombra-preto-2;
        background-image: linear-gradient(to top, rgb(0, 0, 0, 0.600), rgba(255, 255, 255, 0.030));
        border-radius: 0px 0px 6px 6px;
    }
}

/*Artigo*/
.article {
    max-width: 1000px;
    margin: 15px 25px 15px 0px;
    padding: 10px;
    box-shadow: 0px 0px 4px 0px $cor-preto-4;
    border-radius: 5px;

    /*Titulo do Artigo*/
    h1 {
        font-size: 28px;
        color: $cor-preto-2;
        margin: 15px 0px;
    }

    /*Sube Titulo do Artigo*/
    h2 {
        color: $cor-branca;
        font-size: 20px;
        margin: 15px 0px;
        padding: 4px 10px;
        background-image: linear-gradient(to right, $cor-verde, transparent);
    }

    /*Paragrafo do Artigo*/
    p {
        color: $cor-preto-2;
        font-size: 17px;
        letter-spacing: 0.6px;
        line-height: 26px;
        margin-top: 20px;
    }

    /*Imagem do Artigo*/
    img {
        width: 100%;
        border-radius: 10px;
    }
}

/*Categoria*/
#categoria {
    display: flex;
    justify-content: space-between;
    margin: -10px -10px 10px -10px;
    padding: 5px 10px;
    background-color: $cor-verde;
    border-radius: 5px 5px 0px 0px;

    /*Data da Publicação do Artigo*/
    .time {
        color: $cor-branca;
        font-size: 14px;
        font-weight: bold;
        line-height: 26px;
        text-transform: uppercase;
    }

    /*Categoria do Artigo*/
    p {
        margin: 0px;
        font-size: 14px;
        font-weight: bold;
        color: $cor-branca;
        text-transform: uppercase;
    }
}

/*Post Anterior / Proximo Post*/
#a-p {
    display: flex;
    justify-content: space-between;
    margin: 10px -10px -10px -10px;
    padding: 5px 10px;
    background-color: $cor-verde;
    border-radius: 0px 0px 5px 5px;

    /*Anterior / Proximo*/
    a {
        color: $cor-branca;
        font-size: 16px;
        text-transform: uppercase;
        padding: 2px 8px;
        border-radius: 10px;
        transition: 0.3s;

        &:hover {
            background-color: $cor-branca;
            color: $cor-verde;
            font-weight: bold;
        }
    }
}

/*Mais Sobre o Site*/
#about-more {
    max-width: 1000px;
    margin: 0px auto 20px auto;

    /*Titulo*/
    h1 {
        font-size: 28px;
        text-align: center;
        color: $cor-preto-2;
        margin: 20px 0px 15px 0px;
    }

    /*Sube Titulo*/
    h2 {
        font-size: 20px;
        color: $cor-preto-2;
        margin: 15px 0px;
    }

    /*Paregrafo*/
    p {
        font-size: 17px;
        color: $cor-preto-2;
        letter-spacing: 0.6px;
        line-height: 26px;
        margin-top: 20px;
    }
}

/*Aside*/
aside {
    margin: 15px 25px 15px 0px;
    height: 890px;
    padding: 10px;
    max-width: 400px;
    position: sticky;
    top: 10px;
    box-shadow: 0px 0px 4px 0px $cor-preto-4;
    border-radius: 5px;

    /*Post do Aside*/
    article {
        display: flex;
        padding: 20px 10px;
        margin: 5px 0px;
        border-top: 1px solid $cor-sombra-preto-2;
    }
}

/*Imagem do Post do Aside*/
.small-post-image {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    overflow: hidden;

    /*Imagem*/
    img {
        width: 100%;
        height: 100%;
        transition: 0.3s linear;

        &:hover {
            transform: scale(1.1);
        }
    }
}

/*Conteiner do Post do Aside*/
.post-container {
    width: 250px;
    margin-left: 10px;

    /*Sube Titulo do Post do Aside*/
    h4 {
        color: $cor-preto-2;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.65px;
        line-height: 20px;
        margin-bottom: 5px;

        a {
            color: $cor-preto-2;
            transition: 0.3s;
            
            &:hover {
                color: $cor-verde;
            }
        }
    }
}

/*Largura Maxima de 1200px*/
@media (max-width: 1200px) {

    /*Main*/
    main {
        display: block;
    }

    /*Post Mais Recente*/
    #recent-post {
        max-width: 1000px;
        margin: 15px auto;
    }

    /*Imagem do Post*/
    #post-image {
        width: 450px;
        height: 300px;
    }
    
    /*Posts*/
    .posts {
        max-width: 1000px;
        margin: 20px auto;
    }

    /*Utimo Post da Caixa*/
    .post:last-child {
        margin-right: 0px;
    }

    /*Imagem do Post*/
    .post-image {
        height: 260px;
    }

    /*Artigo*/
    .article {
        margin: 15px auto;
    }

    /*Aside*/
    aside {
        max-width: 1000px;
        margin: 15px auto;
    }

    /*Conteiner do Post do Aside*/
    .post-container {
        width: 520px;
    }
}

/*Largura Maxima de 700px*/
@media (max-width: 700px) {
    /*Post Mais Recente*/
    #recent-post {
        display: block;
    }

    /*Imagem do Post*/
    #post-image {
        display: flex;
        width: 100%;
    }

    /*Conteiner do Post*/
    #conteiner {
        width: 100%;
        margin: 15px 0px 0px 0px;

        /*Botão Continue Lendo*/
        .reading-button {
            margin-top: 15px;
            display: inline-block;
            position: relative;
            bottom: 0px;
        }
    }

    /*Posts*/
    .posts {
        display: block;
    }

    /*Post*/
    .post {
        margin: 20px 0px;
    }

    /*Imagem do Post*/
    .post-image {
        height: 340px;
    }

    /*Conteiner do Post do Aside*/
    .post-container {
        width: 300px;
    }
}

/*Largura Maxima de 500px*/
@media (max-width: 500px) {

    /*Imagem do Post*/
    #post-image {
        height: 250px;
    }
    
    /*Conteiner do Post*/
    #conteiner {

        /*Sube Titulo*/
        h2 {
            font-size: 20px;
        }

        /*Paragrafo*/
        p {
            font-size: 14px;
        }

        /*Data da Publicação*/
        .time {
            font-size: 12px;
        }

        /*Botão Continue Lendo*/
        .reading-button {
            font-size: 12px;
        }
    }

    /*Post*/
    .post {
        
        /*Imagem do Post*/
        .post-image {
            height: 250px;
        }

        /*Paragrafo, Data e Botão Continue Lendo*/
        p, time, .reading-button {
            display: none;
        }
    }

    /*Artigo*/
    .article {

        /*Titulo do Artigo*/
        h1 {
            font-size: 20px;
        }

        /*Imagem do Artigo*/
        img {
            height: 220px;
        }
        
        /*Sube Titulo do Artigo*/
        h2 {
            font-size: 18px;
        }

        /*Paragrafo do Artigo*/
        p {
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0px;
        }
    }
    
    /*Post Anterior / Proximo Post*/
    #a-p a {
        font-size: 14px;
    }

    /*Conteiner do Post do Aside*/
    .post-container {
        width: 170px;
    }
}